extends layout

block content
    main
        .hero-image-wrapper
            .hero-image-content
                .tag-line
                    h1 Find How to Express Yourself
                .intro-text
                    h4 Using this application, you can learn english fun with music and picture. What are you waiting for?
                .text-center
                    a(href="/word")
                        button.ec-button.ec-green
                            strong Let's Go!
            .hero-image-container
                    img(
                        src="/assets/img/hero_image1/hero_image1_sm.png"
                        srcset="/assets/img/hero_image1/hero_image1_sm_200.png 200w, \
                                /assets/img/hero_image1/hero_image1_sm_517.png 517w, \
                                /assets/img/hero_image1/hero_image1_sm_765.png 765w, \
                                /assets/img/hero_image1/hero_image1_sm.png 1022w"
                        sizes="(min-width: 55em) 40vw, (min-width: 30em) 45vw, 50vw"
                        alt="Greeting"
                    )
                    img(
                        src="assets/img/hero_image2/hero_image2_sm.png"
                        srcset="/assets/img/hero_image2/hero_image2_sm_200.png 200w, \
                                /assets/img/hero_image2/hero_image2_sm_570.png 570w, \
                                /assets/img/hero_image2/hero_image2_sm_851.png 851w, \
                                /assets/img/hero_image2/hero_image2_sm.png 1041w"
                        sizes="(min-width: 55em) 40vw, (min-width: 30em) 45vw, 50vw"
                        alt="Greeting response"
                    )
        section#help
            .section-panel
                .section-head
                    h1 Need help?
                .section-content
                    
        section#about
            .section-panel
                .section-head
                    h1 Who are we?
                .section-content
                    .text-center
                        span You must be curious who build this website, don't you?
                    .text-center
                        a(href="/about")
                            button.ec-button.ec-blue
                                strong Find out!

block scripts
    script(src="assets/js/views/home.js")
    script(src="assets/js/controllers/homeController.js")
        
